body{
    margin: 0;
    padding: 0;
}
.menu{
    background-color: rgb(148, 40, 26);
    height: 50px;
}

.menu ul{
    width: 600px;
    margin: 0 auto;
    text-align: center;
}

.elemento{

    display: inline;
    margin: 0 25px 25px 0;
    
}

.elemento a {
    font-size: 30px;
    color: white;
    text-decoration: none;
    line-height: 50px;
    font-family: 'Island Moments', cursive;
    
}

.elemento a:hover{
    color: black ;
}

